*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "宋体";
	background: url(../images/background1.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	z-index: -1;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.clearfix:after,.clearfix:before{  /*清除浮动*/
   content: "";
   display: table;
}
.clearfix:after{
   clear: both;
}
.clearfix{
  *zoom:1; /*兼容IE和IE7*/
}
.poa{
	position: absolute;
}
.por{
	position: relative;
}
.pof{
	position: fixed;
}	
.fl{
	float: left;
}
.fr{
	float: right;
}
.header{
	width: 100%;
	height: 8.25rem;
	padding-top: 2.75rem;
}
.cdk,.psn{
	height: 1.25rem;
	width: 100%;
/*	margin-bottom: 1.5rem;*/
	padding-left: 1.6rem;
	box-sizing: border-box;		
}
.header .title{
	width: 3.25rem;
	height: 1rem;
	background: url(../images/cdk.png) no-repeat center center;
	background-size: cover;
	margin-top: 0.2rem;
}
.header .n2{
	background: url(../images/psn.png) no-repeat center center;
	background-size: cover;
}
.header .left{
	width: 8rem;
	height: 100%;
	border: 0.025rem solid #707070;
	margin-left: 0.8rem;
	font-size: 0.6rem;
	padding-left: 0.25rem;
	box-sizing: border-box;
}
.ann{
	width: 100%;
	min-height: 2.6rem;
	text-align: center;
	
}
.ann .button{
	width: 6rem;
	height: 1.6rem;
	margin-left: 1.1rem;
	background: #ccc url(../images/bu-cn.png) no-repeat center center;
	background-size: 65% 60%;
	/*background-size:cover ;*/
	border-radius: 0.25rem ;
	box-shadow: 0px 0.07rem 0.37rem #000;
	outline: none;
	border: none;
}
.ann .ann-title{
	width: 12rem;
	height: 100%;
	left: 50%;
	top: 0;
	margin-left: -6rem;
	padding: 0.3rem 0rem;
	line-height: 0.7rem;
	color: yellow;
	display: none;
	font-size: 0.6rem;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
}
.title-no{
	width: 100%;
	height: 3rem;
	/*margin-bottom: 1.5rem;*/
	text-align: center;
	line-height: 3rem;
	font-size: 1.5rem;
	padding-left: 1.1rem;
	color: #fff;
	box-sizing: border-box;
	display: none;
}
.title-no>span{
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	padding: 0rem 0.5rem;
	
}
#PN-text,#cdkey-text{
	width: 100%;
	height: 1.5rem;
	color: red;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.5rem;
}
.tan{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
#msg{
	width:8rem;
	height: 4.2rem;
	position: fixed;
	z-index:999;
	top: 50%;
	margin-top:-3.1rem;
	left:50%;
	margin-left:-4rem;
	background:#fff;
	box-shadow:0rem 3rem 15rem #000;
	color:#666;
	border:0.025rem solid #f8f8f8;
	text-align: center;
	line-height: 1rem;
	display:inline-block;
	padding-bottom:0.5rem;
	border-radius:0.05rem;
	font-family: "微软雅黑";
}
#msg_top{
	background:#f8f8f8;
	padding:0.2rem 0.37rem 0.2rem 0.5rem;
	text-align: center;
	font-size: 0.6rem;
}
#msg_top span{
	font-size:0.6rem;
	float:right;
	cursor:pointer;
}
#msg_cont{
	padding:0.37rem 0.5rem 0.5rem;
	text-align: center;
	font-size: 0.6rem;        
}
#msg_clear{
	display:inline-block;
	color:#fff;
	padding:0.05rem 1rem;
	background:#8fc31f;
	border-radius:0.05rem;
	cursor:pointer;
	font-size: 0.6rem;
	margin: 0 auto;
}
#loadingTips{
	background-size: 13% 45% !important;
	
}



#bonfire-pageloader {
	background-color:#1FB6DB;
/*	background-color:black;*/
}
/* loading icon color */
#bonfire-pageloader svg {
	fill:#fff;
	width: 2.5rem !important;
	height:2.5rem !important;
}
#bonfire-pageloader {
	position:fixed;
	z-index:99999999999999;
	width:100%;
	height:1000%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin-top:-50px;
}
.bonfire-pageloader-fade {
	opacity:0 !important;
	
	-webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	-o-transition: all .75s ease;
	-ms-transition: all .75s ease;
	transition: all .75s ease;
}
.bonfire-pageloader-hide {
	display:none;
}

/* the loading icon */
.bonfire-pageloader-icon {
	width:2.5rem;
	height:2.5rem;
	position:absolute;
	/*margin:100px 0 0 0;*/
	opacity:1;
	top: 50%;
	left: 50%;
	margin-left: -1.25rem;
}
.bonfire-pageloader-icon-hide {
	opacity:0 !important;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}
#bonfire-pageloader svg {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
	width:100px;
	height:100px;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
.bonfire-html-onload {	
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);

	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	-ms-transition: all 0s ease;
	transition: all 0s ease;
}




